@mixin btns {
	color: #fff;
 	background-color: map-get($colores,secundary);
  	border-color: map-get($colores,secundary);
  	font-weight: 700;
  	&:active:focus{
  		box-shadow: none;
  	}	
  	&:hover{
		@extend %btn-states;
	}
	&:active{
		@extend %btn-states;
	}
	&:focus{
		@extend %btn-states;
		box-shadow: none;
	}	
};

%btn-states{
  	background-color: rgb(46, 96, 14);
  	border-color: rgb(46, 96, 14);
}

@mixin media-up($breakpoint){
@media all and (max-width: map-get($breakpoints, $breakpoint)){
	@content;
	}
}

@mixin nav-ttl-list {
	padding: 10px 0px 10px 0px;
	font-size: 22px;
	margin-right: 30px;
	&::before{
		content: " ";
		background-image: url("data:image/svg+xml,%3Csvg width='10' height='20' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L11 11L1 21' stroke='%23818181' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
		width: 10px;
		height: 20px;
		display: inline-block;
		margin-right: .2rem;
	}
}

@mixin bordered ($color: map-get($colores, principal), $width: 3px) {
  border-left: $width solid $color;
}