@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import "variables";
@import "mixins";

*{
	margin: 0;
	padding: 0;
}
body{
	background-color: white;
	font-family: 'Quicksand', sans-serif;
	color: map-get($colores,text);
	box-sizing: border-box;
	overflow-x: hidden;
}
#navbar-top{
	background-color: map-get($colores,principal);
	height: 1.5rem;
}
.header{
	background-color: rgba(245, 245, 245, 1);
		@include media-up(md) {
			justify-content: space-between;
			align-items: center;
		}
	a{
		text-decoration: none;
	}
	&__logo{
		width: 160px
	}
	ul{
		color: rgba(129, 129, 129, 1);
		font-weight: map-get($font-weight,regular);
		font-size: 28px;
		list-style: none;
		margin-bottom: 0px;
	}
	%header{
	background-color: rgba(245, 245, 245, 1);
	padding-top: 26px;
	}
	&__products{
		@extend %header;
	}
	&__us{
		@extend %header;
	}
	.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #d9d9d9;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(211,212,213,.5);
	}
	@include media-up(md) {
		ul li{
			font-size: 17px;
		}
		%padding{
			padding-top: 0;
			padding-left: 1rem;
		}
		&__products{
			@extend %padding;
		}
		&__us{
			@extend %padding;
		}
	}	
}
#header__nav{
	@include media-up(md) {
		position: absolute;
		left: -100%;
		top: 130px;
		gap: 0;
		flex-direction: column;
		background-color: rgba(245, 245, 245, 1);
		width: 40%;
		transition: 0.3s;
		z-index: 1;
	}
	li a{
		color: map-get($colores,text);
		display: inline-block;
	}
	> li{
		float: left;
	}
	li ul{
		display: none;
		position: absolute;
		width: 280px;
		z-index: 1;
	}
	li:hover > ul{
		display: block;
	}
	li ul li{
		position: relative;
	}
	li ul li ul{
		position: relative;
		font-size: 20px;
	}
	.title-list{
		@include nav-ttl-list;
		border-bottom: solid 1px rgba(229, 229, 229, 1);
	}
	.title-excep{
		@include nav-ttl-list;
	}
	.desplegable::after {
		content: " ";
		background-image: url("data:image/svg+xml,%3Csvg width='22' height='12' viewBox='0 0 22 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 1L11 11L1 1' stroke='%23818181' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
		width: 22px;
		height: 12px;
		display: inline-block;
		margin-left: .2rem;
	}
	@include media-up(md) {
		li ul li ul li{
			font-size: 14px;
		}
		li ul{
			width: 100%;
			position: relative;
		}
		&.active{
			left: 0;
		}
		%title-media{
		font-size: 14px;
		margin: 10px 0;
		}
		.title-list{
			@extend %title-media;
		}
		.title-excep{
			@extend %title-media;
		}
	}
}
.sub-list{
	& .nav-link{
		&::before{
			content: " ";
			background-image: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L11 11L1 21' stroke='%23818181' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
			width: 6px;
			height: 11px;
			display: inline-block;
			margin-right: .2rem;
		}
	}	
}	
%navbar-links{
	padding: .3rem .3rem;
}	
.nav-link{
	padding: 0;
	& .sub-list{
		@extend %navbar-links;
	}
	& .header__us{
		@extend %navbar-links;		
	}	
}
#footer{
	background-color: map-get($colores,principal);
	position: relative;
	a{
		text-decoration: none;
		color: rgba(255, 255, 255, 1);
	}
}
.hamb-container{
	display: none;
	width: 147.413px;
	@include media-up(md) {
		display: block;
	}
	& .menu-hamb{
		display: none;
		height: fit-content;
		& .bar{
			display: block;
			width: 25px;
			height: 3px;
			margin: 5px auto;
			background-color: #606060;
			border-radius: 2px;
		}
		@include media-up(md) {
			display: block;
			position: relative;
			order: 1;
			&.active .bar{
				&:nth-child(2){
					opacity: 0;
				}
				&:nth-child(1){
					transform: translateY(8px) rotate(45deg);
				}
				&:nth-child(3){
					transform: translateY(-8px) rotate(-45deg);
				}		
			}	
		}
	}
}
%btn-light{
	background-color: #F5F5F5;
	border-color: #F5F5F5;
}
.btn-light{
	@extend %btn-light;
	&:hover{
		@extend %btn-light;
	}
	&.active{
		@extend %btn-light;
	}
}

%texts-align{
	text-align: justify;
}
%margin{
	margin: 6rem 0;
	@include media-up(md) {
		margin: 3rem 0;
	}
}
%marketing{
	margin-bottom: 6rem;
	@include media-up(lg) {
		margin-bottom: 3rem;
	}	
}
%border{
	border-color: map-get($colores,principal);
	@include media-up(md) {
		min-height: 170px;
	}	
}
@include media-up(md) {
	#buscar{
		transform: scale(.8);
		order: 3
	}
	.navbar-brand{
		order: 2;
		justify-self: center;
	}
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.prod-title{
	font-size: map-get($font-size,big);
	font-weight: map-get($font-weight, medium);
	@include media-up(md) {
			font-size: map-get($font-size-mq, big);
		}
}
.prod{
	position: relative;
		& .name{
			font-size: map-get($font-size,small);
			@include media-up(md) {
				font-size: map-get($font-size-mq, small);
			}
		}
		& .back{
			background-color: white;
			position: absolute;
			height: 100%;
			opacity: 0;
			&:hover{
				animation-name: slide-in-left;
				animation-timing-function: ease-out;
				animation-fill-mode: both;
				animation-duration: 0.3s;
			}
			& .text{
				font-size: map-get($font-size,small);
				@include media-up(md) {
					font-size: map-get($font-size-mq, small);
				}
				li{
					&::before{
						content: " ";
						background-image: url("data:image/svg+xml,%3Csvg width='8' height='18' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L11 11L1 21' stroke='%23818181' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
						width: 8px;
						height: 18px;
						display: inline-block;
						margin-right: .2rem;
					}
				}
			}
			& .title{
				font-size: map-get($font-size,medium);
				margin-bottom: .5rem;
			}
			ul{
				list-style: none;
				padding-left: 1rem;
			}
		}
		& .front{
			position: relative;
		}
		%products-container{
		height: 200px;
		}
		.H-img{
			@extend %products-container;
			width: 200px
		}
		.V-img{
			@extend %products-container;
			width: 100px
		}
}

.contact-card{
	@include media-up(lg) {
		margin: 2rem 0;
	}
	& .btn{
		@include btns;
  	}		
	& .title{
			font-size: map-get($font-size,regular);
			@include media-up(md) {
				font-size: 1.3rem;
		}
	}
	& .btns{
			@include media-up(md) {
				flex-direction: column;
				align-items: center;
				height: 100px;
			}
		}
	}

.location{
	& .title{
		font-size: map-get($font-size,medium);
		font-weight: 500;
		@include media-up(md) {
			font-size: 1.3rem;
		}
	}
	& .text{
		font-size: map-get($font-size,small);
		@include media-up(md) {
			font-size: map-get($font-size-mq, small);
		}
	}
	& .btn{
  	@include btns;
  }
}

#values{
	@extend %texts-align;
	@extend %margin;
	& .title{
		font-size: map-get($font-size,big);
		font-weight: map-get($font-weight, medium);
		@include media-up(md) {
			font-size: map-get($font-size-mq, big);
		}
	}
	& .text{
		margin: 0;
		font-size: map-get($font-size,regular);
		@include media-up(md) {
			font-size: map-get($font-size-mq, regular);
		}
	}
	& .left-border{
			@include bordered;
			min-height: 200px;
			margin-top: 4rem;
			@include media-up(md) {
				margin-top: 2rem;
		}	
	}
}

#gif{
	& .title{
		font-size: map-get($font-size,big);
		font-weight: map-get($font-weight, medium);
		@include media-up(md) {
			font-size: map-get($font-size-mq, big);
		}
	}
	& .subtitle{
		font-size: map-get($font-size,big);
		font-weight: map-get($font-weight, medium);
		margin-top: 2.5rem;
		font-variant: small-caps;
		@include media-up(md) {
			margin-top: 1rem;
			font-size: 1.4rem;
		}
	}
}

#hero-nh{
	@extend %margin;
	@extend %texts-align;
	& .name{
		font-size: map-get($font-size,medium);
		@include media-up(lg) {
			font-size: 1.3rem;
		}
	}
	& .text{
		margin: 0;
		font-size: map-get($font-size,regular);
		@include media-up(lg) {
			font-size: map-get($font-size-mq, regular);
		}
	}
}

#hero-qs{
	@extend %texts-align;
	@extend %margin;
	& .text{
		margin: 0;
		font-size: map-get($font-size,regular);
		@include media-up(lg) {
			font-size: map-get($font-size-mq, regular);
		}
	}
}

#mision{
	@extend %texts-align;
	@extend %marketing;
	& .title{
		font-size: map-get($font-size,big);
		font-weight: map-get($font-weight, medium);
		margin-bottom: .5rem;
		@include media-up(lg) {
			font-size: map-get($font-size-mq, big)
		}
	}
	& .text{
		margin: 0;
		font-size: map-get($font-size,regular);
		@include media-up(lg) {
			font-size: map-get($font-size-mq, regular);
		}
	}
	& .card-img-overlay{
		background-color: rgba(81, 81, 81, 0.2);
	}
}

#vision{
	@extend %texts-align;
	@extend %marketing;
	& .title{
		font-size: map-get($font-size,big);
		font-weight: map-get($font-weight, medium);
		margin-bottom: .5rem;
		@include media-up(lg) {
			font-size: map-get($font-size-mq, big)
		}
	}
	& .text{
		margin: 0;
		font-size: map-get($font-size,regular);
		@include media-up(lg) {
			font-size: map-get($font-size-mq, regular);
		}
	}
	& .left-border{
		@include bordered;
		min-height: 180px;
		@include media-up(lg) {
			min-height: 130px;
		}
	}
}
#pasion{
	@extend %marketing;
	& .title{
		font-size: map-get($font-size,big);
		font-weight: map-get($font-weight, medium);
		margin-bottom: .5rem;
		@include media-up(lg) {
			font-size: map-get($font-size-mq, big)
		}
	}
	& .text{
		font-size: map-get($font-size,regular);
		margin-bottom: .5rem;
		@include media-up(lg) {
			font-size: map-get($font-size-mq, regular);
		}
	}
}